<a href="https://colab.research.google.com/github/VinLaksh20/Sales-Analysis-of-a-Pizza-Store/blob/main/Question8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
print(x)

10

In [ ]:
import pandas as pd
ice_cream = [" Chocolate","Vanilla","Strawberry"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
dtype: object

In [ ]:
import pandas as pd
lottery = [2,4,10,20,39,49]
pd.Series(lottery)

0     2
1     4
2    10
3    20
4    39
5    49
dtype: int64

In [2]:
# import pandas and numpy libraries
import numpy as np
import pandas as pd
# create a data frame
df = pd.DataFrame({
    'Height': [125,156,122, 132,141,149],
    'Distance': [90, 60, 99, 12, 39, 57]
})
print(df)

# Normalizing a data frame in sci-kit learn
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
# scikit-learn:
scaler = StandardScaler()
norm_df2 = pd.DataFrame(scaler.fit_transform(df),
                       index=df.index, columns=df.columns)

   Height  Distance
0     125        90
1     156        60
2     122        99
3     132        12
4     141        39
5     149        57